.contact {
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

.text{
    color: red;
    margin: 0 30px;
}

.name {
    width: 100%;
    max-width: 300px;
}

.address {
    width: 100%;
    max-width: 300px;
}

.message {
    width: 100%;
    max-width: 700px;
    height: 150px;
    resize: none;
}

.button {
    display: block;
    border-radius : 5%;          /* 角丸       */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 6px 20px;   /* 余白       */
    background    : #00afcc;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #00afcc;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }